; Do not allow package lock to resolve the following issues:
; - https://github.com/npm/npm/issues/16926
; - https://github.com/npm/npm/issues/16728
; - Npm does not flatten the dependency tree entirely
package-lock=false